// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html

$sans: "helvetica", sans-serif;
$serif: "adobe-garamond-pro", serif;
$mono: "Monaco", "Consolas", "Inconsolata", "Menlo", monospace;
$heading-font-family: "adobe-garamond-pro", serif;
$header-title-font-family: "adobe-garamond-pro", serif;
$header-subtitle-font-family: "adobe-garamond-pro", serif;
